p {
color: rgb(119, 128, 0);
background: rgb(219, 8, 124);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 4em;
padding: 1em;
border-style: dashed;
margin: 3em;
}

ul:first-of-type li{

    color:rosybrown;
    font-size:3em;
}

h1 {
    color: rgb(43, 226, 195);
    font-size:200%;
    transform: rotate(0.8turn)
}
