body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;  
    height: 100vh;
}

header {
    grid-area: header;
    background: #333332cc;
}

main {
    grid-area: main;
    background: #333332cc;
    padding: 50px;
    align-items:center;
    justify-items:center;
    background-size: 100%;
}

footer {
    grid-area: footer;
    background: #333332cc;
}

img.TeslaLogo {
    float: right;
    width: 50px;
    margin: 0.4em;
}

#home {
    float: middle;
    background: none;
    padding: 20px;
    border-style: none;
}

#datum{
    float: right;
    padding: 20px;
    color: blanchedalmond;
}

#uhr{
    float: left;
    padding: 20px; 
    color: blanchedalmond;
}

button.Statusinformation {
    grid-area: Statusinformation;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}

button.Sperren {
    grid-area: Sperren;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}

button.Fenster {
    grid-area: Fenster;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}

button.Musik {
    grid-area: Musik;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}
button.Aufsperren {
    grid-area: Aufsperren;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}
button.Absperren {
    grid-area: Absperren;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}

button.Navigation {
    grid-area: Navigation;
    background: none;
    border: none;
    height: 20vh; 
    width: 20vh;
}

#IMGInfo {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGAbsperren {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGFenster {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGMusik {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.Zurück {
    align-items:center;
    justify-items:center;
    width: 50px;
    margin: 0.4em;
}

div.centerGrid{
    display: grid;
    grid-template-areas: "Statusinformation Aufsperren Absperren" 
                         "Fenster           Musik      Navigation";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto;
    align-items:center;
    justify-items:center;
}

div.datenGrid{
    display: grid;
    grid-template-areas: 
                            "geschwindigkeit geschwindigkeit"
                            "verbrauch       druck"
                            "temperatur      luftfeuchtigkeit ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 200px 200px;
} 

div.geschwindigkeit{
    grid-area: geschwindigkeit;
    font-size: 50px;
    color:white;
}
div.verbrauch{
    grid-area: verbrauch;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
}
div.druck{
    grid-area: druck;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
}
div.temperatur{
    grid-area: temperatur;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
}
div.luftfeuchtigkeit{
    grid-area: luftfeuchtigkeit;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
}


div.fensterGrid{
    display: grid;
    grid-template-areas:
                            "LinkesFensterAuf LinkesFensterZu . RechtesFensterAuf RechtesFensterZu"
                            ".                .               . .                 ."
                            "AlleFensterAuf   AlleFensterZu   . .                 ."; 
    grid-template-columns: 15% 15% 40% 15% 15%; 
    grid-template-rows: 200px 1fr 200px; 

}

#LinkesFensterAuf{
    grid-area: LinkesFensterAuf;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}
 
#LinkesFensterZu{
    grid-area: LinkesFensterZu;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}

#RechtesFensterAuf{
    grid-area: RechtesFensterAuf;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}

#RechtesFensterZu{
    grid-area: RechtesFensterZu;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}

#AlleFensterAuf{
    grid-area: AlleFensterAuf;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}
#AlleFensterZu{
    grid-area: AlleFensterZu;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background:#333332cc;
    font-size:30px;
}



div.musicGrid {
    display: grid;
    grid-template-areas:
                            "IMGMusic audioMusic"
                            "IMGMusic selectMusic"; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 200px 200px; 
    grid-auto-flow: column; 
}

img.IMGMusic {
    grid-area: IMGMusic;
    align-content: flex-end;
    justify-content: flex-end;    
} 

div.audioMusic {
    grid-area: audioMusic;
} 

div.selectMusic {
    grid-area: selectMusic;
} 

select {
    font-size: 30px;
    color: blanchedalmond;
    background: #333332cc;

}
audio {
    size: 30px;
}

