body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;  
    height: 100vh;
}

header {
    grid-area: header;
    background: #333332cc;
}

main {
    grid-area: main;
    background: #333332cc;
    padding: 50px;
    align-items:center;
    justify-items:center;
}

div.centerGrid{
    display: grid;
    grid-template-areas: "Statusinformation Aufsperren Absperren" "Fenster Musik Navigation";
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
    align-items:center;
    justify-items:center;
}

div.datenGrid{
    display: grid;
    grid-template-areas: "templateStatusdaten templateStatusdaten templateStatusdaten" "templateStatusdaten templateStatusdaten";
    grid-template-columns: auto;
    grid-template-rows:auto auto;
    /* align-items:center;
    justify-items:center; */
}

div.Statusinformation{
    grid-area: templateStatusdaten;
}

div.fensterGrid{
    display: grid;
    grid-template-areas: "FensterLinks FensterRechts FensterAlle";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto;
    align-items:center;
    justify-items:center;
}

div.FensterRechts{
    grid-area: FensterRechts;
}

div.FensterLinks{
    grid-area: FensterLinks;
}

div.FensterAlle{
    grid-area: FensterAlle;
}

div.musicGrid{
    display: grid;
    grid-template-areas: "templateMusic";
    grid-template-columns: auto;
    grid-template-rows:auto;
    align-items:center;
    justify-items:center;
}

div.Musik{
    grid-area: templateMusic;
}



img.TeslaLogo {
    float: right;
    width: 50px;
    margin: 0.4em;
}

#IMGInfo {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGAbsperren {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGFenster {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

img.IMGMusik {
    align-items:center;
    justify-items:center;
    max-width: 100%;
    height: auto;
    margin: 0.4em;
}

button.Statusinformation {
    grid-area: Statusinformation;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}

button.Sperren {
    grid-area: Sperren;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}

button.Fenster {
    grid-area: Fenster;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}

button.Musik {
    grid-area: Musik;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}
button.Aufsperren {
    grid-area: Aufsperren;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}
button.Absperren {
    grid-area: Absperren;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}

button.Navigation {
    grid-area: Navigation;
    margin: 5px;
    padding: 10px;
    height: 20vh; 
    width: 20vh;
}
footer {
    grid-area: footer;
    background: #333332cc;
}

#datum{
    float: right;
    padding: 20px;
    color: blanchedalmond;
}

#uhr{
    float: left;
    padding: 20px; 
    color: blanchedalmond;
}
